@rendermode InteractiveServer

<div style="padding: 30px">
    <p><b>Contact Us</b></p>
    <table>
        <tr>
            <th style="padding: 10px">Phone:</th>
            <td style="padding: 10px">(604) 555-7890</td>
        </tr>
        <tr>
            <th style="padding: 10px">Email:</th>
            <td style="padding: 10px">info@thezenith.com</td>
            
        </tr>
        <tr>
            <th style="padding: 10px">Instagram: </th>
            <td style="padding: 10px">thezenith</td>
        </tr>
        <tr>
            <th style="padding: 10px">Address:</th>
            <td style="padding: 10px">
                3700 Willingdon Ave. <br>
                Burnaby, BC V5G 3H2
            </td>
        </tr>
    </table>
</div> 
